html, body {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    overflow: hidden;
    background: rgb(44, 62, 80);
}
header {
    height: 72px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid transparent;
    background: rgb(26, 188, 156);
}

#logo{
    width: 385px;
    height: 46px;
    position: relative;
    top: calc(50% - 46px / 2);
    left: 18px;
    background: url("logo.png");
    background-scale: 90%;
}

#diff {
    width: 120px;
    height: 35px;
    position: absolute;
    right: 15px;
    bottom: 20px;
    font-size: 131%;
    border-radius: 8px;
    background: rgb(44, 62, 80);
    color: white;
    border: none;
    border: 2px solid #fff, 4px solid rgb(44, 62, 80);
    cursor: pointer;
}

#diff:hover {
    background: rgb(62, 87, 112);
}
#diff:active {
    bottom: 18px;
    right: 13px;
}

#mask {
    position: absolute;
    width: 100%;
    height: calc(100% - 74px);
    bottom: 0;
    z-index: 2;
    background: #333 url("loader.gif") no-repeat center 45%;
}
#mask > div{
    position: absolute;
    top: 51%;
    color: white;
    font-size: 123.1%;
    left: 50%;
}
#mask-msg {
    position: relative;
    left: -50%;
}

#try-again{
    text-decoration: underline;
    cursor: pointer;
}

#page {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

#thumbs {
    position: absolute;
    right: 20px;
    bottom: 16px;
}
#thumbs div {
    width: 106px;
    height: 93px;
    position: absolute;
    border-radius: 8px;
    cursor: pointer;
}
#thumbs-down {
    right: 128px;
    bottom: 0;
    background: rgb(44, 62, 80) url("thumbs-down.png") no-repeat 23px 22px;
}
#thumbs-down:active {
    right: 130px;
    bottom: -2px;
}
#thumbs-up {
    right: 0;
    bottom: 0;
    background: rgb(26, 188, 156) url("thumbs-up.png") no-repeat 23px 19px;
}
#thumbs-up:active {
    right: 2px;
    bottom: -2px;
}


.simi {
    width: 0;
    height: 0;
    cursor: pointer;
}
.simi:hover {
    border-right-color: #fff;
}
.simi-l {
    border-right: 50px solid rgb(236, 239, 241);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: calc(50% - 25px);
    left: -86px;
}
.simi-l:active {
    top: calc(50% - 23px);
    left: -88px;
}
.simi-r {
    border-left: 50px solid rgb(236, 239, 241);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: calc(50% - 25px);
    right: -86px;
}
.simi-r:active {
    top: calc(50% - 23px);
    right: -88px;
}